<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" id="carta">
        <div class="card-body">
          <h5 class="card-title">Registrarse</h5>
          <form [formGroup]="formUsers" (ngSubmit)="register()">
            <div class="form-group">
              <label for="exampleInputEmail1">Nombre Completo</label>
              <input type="text" class="form-control" formControlName="name" name="name" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="Nombre completo">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electrónico</label>
              <input type="email" class="form-control" formControlName="email" name="email" id="exampleInputEmail1"
                aria-describedby="emailHelp" placeholder="email@gmial.com">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contraseña</label>
              <input type="password" class="form-control" formControlName="password" name="password"
                id="exampleInputPassword1" placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Registrame</button>
            <a routerLink="">Ya tienes cuenta? Entra ahora</a>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
